<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Css Styles</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/csstyles2.css">
</head>
<body>
    <div class="main-menu">
        <ul>
            <li><button type="button">opcion 1</button></li>
            <li><button type="button">opcion 2</button></li>
            <li><button type="button">opcion 3</button></li>
            <li><button type="button">opcion 4</button></li>
        </ul>
    </div>
    <div class="content">
        <div class="parrafo1">
            Este párrafo tiene cosas en común con el párrafo 2
        </div>
        <div class="parrafo2">
            Este párrafo tiene cosas en común con el párrafo 1
        </div>

        <div class="padre">
            Padre
            <div class="hijo">
                Hijo
            </div>
        </div>
        <div class="con-overflow">blablablabla blablablabla blablablabla blablablabla blablablabla</div>
        <div class="sin-overflow">blablablabla blablablabla blablablabla blablablabla blablablabla</div>
    </div>
</body>
</html>