<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Css Styles</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/csstyles.css">
</head>
<body>
    <div class="lists">
        <h3>First and last</h3>
        <ul class="color-element-list">
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
            <li>Four</li>
            <li>Five</li>
            <li>Six</li>
        </ul>
        <h3>Par number</h3>
        <ul class="par-number">
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
            <li>Four</li>
            <li>Five</li>
            <li>Six</li>
        </ul>
        <h3>Impar number</h3>
        <ul class="odd-number">
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
            <li>Four</li>
            <li>Five</li>
            <li>Six</li>
        </ul>

        <h3>Select number</h3>
        <ul class="select-number">
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
            <li>Four</li>
            <li>Five</li>
            <li>Six</li>
        </ul>
    </div>
    <div class="box">
        <p>Es una animacion</p>
    </div>
    <div class="animations">

        <div class="box2">
            <p>Es una animacion</p>
        </div>
    </div>
</body>
</html>