script(src='bower_components/jquery/dist/jquery.min.js')
script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
script(src='bower_components/angularjs/angular.min.js')
script(src='bower_components/angular-bootstrap/ui-bootstrap.min.js')
