
<html lang="en" ng-app="app">
  <!--ng-app="app" tells the browser that the `angular application in this web is called App and this is mentinoed at the botton o// of the app.js fine
  -->
  <head>
    <meta charset="UTF-8"/>
    <title>Css Styles</title>
    <link rel="stylesheet" type="text/css" href="../main.css"/>
  </head>
</html>
<body>
  <div ng-controller="LoadDataMenu" class="content-desktop">
    <h1>dmk-menu</h1>
    <h3>Horizontal menu</h3>
    <div dmk-menu="dmk-menu" dmk-icon="iconDropdown" dmk-type="horizontal" dmk-options="dmkOptions" dmk-search-first="search1" dmk-search-second="search2" dmk-place-holder-first="placeHolder" dmk-place-holder-second="placeHolder" dmk-name-option="optionName" dmk-url="urlOption"></div>
    <p style="margin: 50px">Scope: {{optionName}}</p>
    <p style="margin: 50px">Scope: {{urlOption}}</p>
  </div>
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js">   </script>
  <script src="../scripts/jsexample1.js"></script>
  <script src="../scripts/jsexample2.js"></script>
  <script src="../scripts/sendinputs.js"></script>
  <script src="../scripts/recordatory.js"></script>
  <script src="../scripts/ecmascript6.js"></script>
  <script src="../scripts/review.js"></script>
  <script type="text/javascript" src="../scripts/directive.js"></script>
  <script type="text/javascript" src="../scripts/menu.js"></script>
  <script src="../scripts/app.js"></script>
</body>