
<html lang="en" ng-app="app">
  <!--ng-app="app" tells the browser that the `angular application in this web is called App and this is mentinoed at the botton o// of the app.js fine
  -->
  <head>
    <meta charset="UTF-8"/>
    <title>Css Styles</title>
    <link rel="stylesheet" type="text/css" href="../main.css"/>
  </head>
</html>
<body>
  <h3>Carousel with directive</h3>
  <div ng-controller="LoadCarousel">
    <button type="button" ng-click="changeSlide('blog')">blog</button>
    <button type="button" ng-click="changeSlide('programming')">programming</button>
    <button type="button" ng-click="changeSlide('westport')">westport</button>
    <dmk-carousel dmk-slides="slides" dmk-interval="interval" dmk-no-wrap="noWrap"></dmk-carousel>
  </div>
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js">   </script>
  <script src="../scripts/jsexample1.js"></script>
  <script src="../scripts/jsexample2.js"></script>
  <script src="../scripts/sendinputs.js"></script>
  <script src="../scripts/recordatory.js"></script>
  <script src="../scripts/ecmascript6.js"></script>
  <script src="../scripts/review.js"></script>
  <script type="text/javascript" src="../scripts/directive.js"></script>
  <script type="text/javascript" src="../scripts/menu.js"></script>
  <script src="../scripts/app.js"></script>
</body>