
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Css Styles</title>
    <link rel="stylesheet" type="text/css" href="../main.css"/>
  </head>
</html>
<body>
  <h1>Recordatory</h1><span class="countries"></span><br/><span class="name"></span>
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
  <script src="../scripts/jsexample1.js"></script>
  <script src="../scripts/jsexample2.js"></script>
  <script src="../scripts/sendinputs.js"></script>
  <script src="../scripts/recordatory.js"></script>
</body>