
<html lang="en" ng-app="app">
  <head>
    <meta charset="UTF-8"/>
    <title>Css Styles</title>
    <link rel="stylesheet" type="text/css" href="../main.css"/>
  </head>
</html>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header"><a href="#" class="navbar-brand">Title company</a></div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li class="active"><a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Items<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Html</a></li>
              <li><a href="#">CSS3</a></li>
              <li><a href="#">Javascript</a></li>
              <li><a href="#">PHP</a></li>
            </ul>
          </li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="content">
    <ul class="list-group"></ul>
    <button class="btn btn-primary alert-message">Alert</button>
    <button class="btn btn-success add-text">Add text</button>
    <div class="show-text"></div>
  </div>
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js">   </script>
  <script src="../scripts/jsexample1.js"></script>
  <script src="../scripts/jsexample2.js"></script>
  <script src="../scripts/sendinputs.js"></script>
  <script src="../scripts/recordatory.js"></script>
  <script src="../scripts/getjson.js"></script>
  <script type="text/javascript" src="../scripts/directive.js"></script>
  <script type="text/javascript" src="../scripts/menu.js"></script>
  <script src="../scripts/app.js"></script>
</body>