.dmk-carousel
  uib-carousel.carousel-custom(interval="dmkInterval" no-wrap="dmkNoWrap")
    uib-slide.slide-custom(ng-repeat="slide in dmkSlides" active="slide.active")
      img(ng-src="{{slide.image}}" alt="{{slide.text}}")
      .carousel-caption
        span.text {{slide.text}}      
