include ../mixins/head
body
   h1 NaturalKid Products
   .productpageframe
      table
         thead
            tr
               th Product Name
               th Price
         tbody



script(src="../bower_components/jquery/dist/jquery.min.js")
script(src="../scripts/productpage.js")

//
   Created by lydialavecchia on 20/02/2016.

