html(lang='en')
   head
      meta(charset='UTF-8')
      title Css Styles
      link(rel='stylesheet', type='text/css', href='../stylesheets/scsstyles.css')
   body
      .main-menu
         ul
            li
               button(type='button') opcion 1
            li
               button(type='button') opcion 2
            li
               button(type='button') opcion 3
            li
               button(type='button') opcion 4
      .content
         .parrafo1
            | Este párrafo tiene cosas en común con el párrafo 2
         .parrafo2
            | Este párrafo tiene cosas en común con el párrafo 1
         .padre
            | Padre
            .hijo
               | Hijo
         .con-overflow blablablabla blablablabla blablablabla blablablabla blablablabla
         .sin-overflow blablablabla blablablabla blablablabla blablablabla blablablabla
