include ../mixins/head
body
    nav.navbar.navbar-inverse
        .container-fluid
            .navbar-header
                a.navbar-brand(href="#") Title company

            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href="#") Home
                    li.active
                        a(href="#") Items
                    li
                        a(href="#") About
                    li
                        a(href="#") Contact


    .content
        .col-lg-10
            form.form
                .form-group
                    label(for="name") Name
                    input.form-control(type="text" id="name" placeholder="Your name" name="name")
                .form-group
                    label(for="email") Email
                    input.form-control(type="email" id="email" placeholder="name@example.com" name="email")
                button.btn.btn-default.send-email(type="submit") Subscription
                    
            .subcriptors
                table.table
                    thead
                        tr
                            th Name
                            th Email
                            th.col-lg-6
                                .input-group.input-group-sm
                                    input.form-control.search-input(type="text", placeholder="Search for name")
                                    span.input-group-btn
                                        button.btn.btn-default.search(type="button") GO!
                    tbody


    include ../mixins/scripts
// good scripts have to be always included at the botton of the html page. Because when the search engine load the html code
    //it would load the script before the page, interrupting al the java script functin up to when the html is loaded.
