html(lang='en',ng-app="app")
   //ng-app="app" tells the browser that the `angular application in this web is called App and this is mentinoed at the botton o
      // of the app.js fine
   head
      meta(charset='UTF-8')
      title Css Styles
      link(rel='stylesheet', type='text/css', href='../main.css')
