script(src="../bower_components/jquery/dist/jquery.min.js")
script(src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js")
script(src="../bower_components/angular/angular.min.js")
script(src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")    
script(src="../scripts/jsexample1.js")
script(src="../scripts/jsexample2.js")
script(src="../scripts/sendinputs.js")
script(src="../scripts/recordatory.js")
script(src="../scripts/getjson.js")
script(type="text/javascript" src="../scripts/directive.js")
script(type="text/javascript" src="../scripts/menu.js")
script(src="../scripts/app.js")
